"use strict";

const app = require('angular').module("userNotesWAuthApp");
const firebase = require('firebase');

let firebaseConfig =  {
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
};

firebase.initializeApp(firebaseConfig);